<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>CRUD Cliente</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#"><strong>DADOS</strong></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/v1/index}">Inicio </a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/v1/player/}">Nuevo Jugador</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/v1/player/players}">Lista de Jugadores</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/v1/player/ranking}">Ranking</a></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<!-- CONTENIDO -->
	<div class="container"></div>
	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
			<p>pagina de jordi</p>
		</div>
		<script type="text/javascript"
			th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    var jwtToken = getCookie('jwt');
    console.log('Token JWT:', jwtToken);

    // Ahora puedes usar el token como sea necesario en tu aplicación
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var jwtToken = [[${jwtToken}]];
    /*]]>*/
</script>

	</footer>
</body>

</html>