<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/Template :: head">
</head>
<body>
	<header th:replace="plantilla/Template :: header"> </header>
	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>
	<div class="container">
		<h2 th:text="${statusMessage}"></h2>
	</div>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white"></div>
			<div class="card-body">
				<form th:action="@{/auth/register}" th:object="${user}" method="post">
					<div class="form-group row">
						<label class="col-md-2" for="Username">Nombre de usuario:</label>
						<input type="text" th:field="*{username}"
							   class="form-control form-control-sm col-md-8" id="Username"
							   placeholder="User Name" required> <small></small>
						<label class="col-md-2" for="Password">Password:</label>
						<input type="password" th:field="*{password}"
							   class="form-control form-control-sm col-md-8" id="password"
							   placeholder="Password" required> <small></small>
					</div>
					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Log in"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="plantilla/Template :: footer"> </footer>
</body>
</html>